////////////

@font-face {
  font-family: "Gerstner Programm FSL";
  src: url("../assets/fonts/gerstner-programm-fsl-regular.eot");
  src: url("../assets/fonts/gerstner-programm-fsl-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/gerstner-programm-fsl-regular.woff") format("woff"),
    url("../assets/fonts/gerstner-programm-fsl-regular.svg#svgFontName")
      format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal; // TODO proper fonts
}

////////////

@mixin f1 {
  @include sm {
    font-size: 18px;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.02em;

  &--serif {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 300;
    font-size: 19px;
    line-height: 24px;
  }
}

.f1 {
  @include f1;
}

