.index-page {
  &__carousel {
    @include sm {
      width: 100%;
    }

    width: 107%;
  }

  &__links {
    &--desktop {
      @include sm {
        display: none;
      }

      display: flex;
    }

    &--touch {
      @include sm {
        display: flex;
      }

      display: none;
    }
  }
}
