.index-page {
  &__carousel {
  }

  &__links {
    &--desktop {
      @include sm {
        display: none;
      }

      display: flex;
    }

    &--touch {
      @include sm {
        display: flex;
      }

      display: none;
    }
  }
}
